/* #region || CSS RESET */
*,
*::before,
*::after {
	box-sizing: inherit;
	line-height: calc(1em + 0.5rem);
	padding: 0;
	margin: 0;
}

html {
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
	font: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	letter-spacing: inherit;
	color: inherit;
	border-radius: 0;
	background-color: transparent;
	opacity: 1;
}

button {
	cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-inline-size: 100%;
	max-block-size: 100%;
}

ol,
ul,
menu {
	list-style: none;
	padding-inline: 0;
}

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
		monospace;
	font-size: 1em;
}

b,
strong {
	font-weight: bolder;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

table {
	border-color: currentcolor;
	border-collapse: collapse;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}
/* #endregion */

/* #region || VARIABLES */
:root {
	--c1: #cbd5e0;
	--c2: #cbd5e0;
	--c3: #cbd5e0;
	--c4: #252e3d;
	--c5: #1a202c;
	--c6: #a9b2ba;
	--c7: #a9b2ba5e;
	--projects-hover-color: var(--c7);
	--projects-selected-color: var(--c6);
	--btn-radius: 7px;
	--btn-bgc: var(--c6);
	--btn-color: var(--c5);
	--search-icon-color: var(--c5);
	--todo-card-border: 1px solid var(--c4);
	--control-width: 20px;
}

html.dark {
	--c1: #1a202c;
	--c2: #252e3d;
	--c3: #2d3748;
	--c4: #4a5568;
	--c5: #cbd5e0;
	--c6: #a9b2ba;
	--c7: #4a556868;
	--projects-hover-color: var(--c7);
	--projects-selected-color: var(--c4);
	--btn-bgc: var(--c5);
	--btn-color: var(--c1);
	--search-icon-color: var(--c6);
	--todo-card-border: none;
}

/* #endregion */

/* LAYOUT */
.body {
	display: grid;
	grid-template-areas:
		'aside header'
		'aside main';

	grid-template-columns: clamp(16rem, 20%, 22rem) 1fr;
	grid-template-rows: 5rem 1fr;

	height: 100vh;
}
.header {
	grid-area: header;
}
.main {
	grid-area: main;
}
.projects {
	grid-area: aside;
}

/* GENERAL STYLES */
.body {
	color: var(--c5);
}

.main {
	background-color: var(--c1);
	padding: 1rem 2rem;
}

img {
	width: 2rem;
}

input,
select {
	background-color: var(--c3);
	padding: 0.3rem 0.6rem;
	border-radius: var(--btn-radius);
}

.container {
	width: min(100%, 90ch);
	margin: 0 auto;
}

.dot-controls {
	width: var(--control-width);
	stroke: var(--c6);
	fill: var(--c6);
	cursor: pointer;
}

.header,
.projects {
	background-color: var(--c3);
	border: 1px solid var(--c4);
}

.button {
	border: none;
	border-radius: var(--btn-radius);
	background-color: var(--btn-bgc);
	color: var(--btn-color);
	padding: 0.5rem 1rem;

	&:hover {
		filter: brightness(0.9);
	}
	&:active {
		filter: brightness(0.8);
	}
}

/* DIALOG STYLES */
dialog {
	margin: auto auto;
	padding: 2rem;
	width: 70ch;
	border-radius: 20px;
	background-color: var(--c1);
	color: var(--c5);
	border-width: 1px;
	box-shadow: 2px 2px 5px 0 var(--c2);

	label {
		display: flex;
		flex-direction: column;
	}

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(5px);
	}
}

dialog h2 {
	text-align: center;
}

.dialog-project-text {
	margin-bottom: 0.5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.dialog-project-name {
	display: inline-block;
	margin-left: 1rem;
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
}

.form-control {
	background-color: var(--c3);
	padding: 0.3rem 0.6rem;
	border-radius: var(--btn-radius);
	width: 100%;
}

dialog textarea {
	resize: none;
}

dialog form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.dialog-btn-controls {
	margin: 0 auto;
}

.required-text {
	font-size: 0.8em;
}

.required-label {
	display: flex;
	justify-content: space-between;
}

/* PROJECTS BAR */
.projects__header-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--c4);
	padding: 1rem;
}

.projects__title {
	font-size: 1.5rem;
}

.projects__new-project {
	padding: 0.5rem 0.7rem;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: var(--c5);
}

.projects__list {
	padding: 1rem;
	gap: 0.7rem;
	display: flex;
	flex-direction: column;
}

.projects__li {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;

	:hover {
		background-color: var(--projects-hover-color);
	}

	&:has(> .projects__btn[aria-selected]) {
		background-color: var(--projects-selected-color);
	}
}

.projects__btn {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.3rem 0.5rem;
	border: none;
}

.projects__icon-wrapper {
	width: 2rem;
	display: flex;
	justify-content: center;
}

.projects__li:not(:first-of-type) .projects__icon {
	width: 1rem;
}

.projects__todo-count {
	margin-left: auto;
}

.projects__menu {
	cursor: pointer;
}

/* take the project control out of view for the All Projects button */
.projects__li:first-of-type .projects__menu {
	visibility: hidden;
}

.projects__menu-checkbox {
	display: none;
}

.projects__menu-label {
	cursor: pointer;
}

.projects__menu-dropdown {
	display: none;
}

.projects__li:has(.projects__menu-checkbox:checked) .projects__menu-dropdown {
	display: block;
}

.projects__menu-item {
	text-wrap: nowrap;
	width: 100%;
	text-align: left;
	border-radius: 0;
	border: 1px solid var(--c4);

	&:last-of-type {
		border-radius: 0 0 var(--btn-radius) var(--btn-radius);
	}
}

/* HEADER */
.header {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.header__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header__title {
	font-size: 1.6rem;
}

.header__todo-count {
	font-size: 0.9rem;
}

.header__controls {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

.header__dark-toggle {
	border: 1px solid var(--c5);
	border-radius: 9999px;
	padding: 8px;
	box-shadow: inset 0 0 3px 0 var(--c5), 0 0 2px 0 var(--c1);
}

.header__dark-toggle-icon {
	width: 20px;
}

.header__add-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.9rem;
	font-weight: bold;
	border: none;
	border-radius: var(--btn-radius);
}

.header__plus-sign {
	font-size: 1.5rem;
}

/* FILTER CONTROLS */
.filter-controls {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.search__container {
	--w: 1.5rem;
	--p: 0.3rem;
	position: relative;
	display: block;
}

.search__icon {
	position: absolute;
	width: var(--w);
	top: calc(50% - var(--w) / 2);
	left: var(--p);
	color: var(--c2);
	stroke: var(--search-icon-color);
}

.search {
	padding-left: calc(var(--w) + var(--p) * 2);
	width: 100%;
}

.filter__container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.filter__todo-status {
	display: flex;
}

.filter__todo-data {
	margin-left: auto;
}

.filter__button {
	border: none;
	padding: 0.3rem 0.5rem;
	border-radius: 0;

	&:first-of-type {
		border-radius: var(--btn-radius) 0 0 var(--btn-radius);
	}
	&:last-of-type {
		border-radius: 0 var(--btn-radius) var(--btn-radius) 0;
	}

	&[aria-selected='true'] {
		filter: brightness(0.6);
		cursor: default;
	}
}

/* TODO CARD */
.todos {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.todo-card {
	--pd: 0.7rem;
	background-color: var(--c2);
	border-radius: var(--btn-radius);
	padding: var(--pd) calc(var(--control-width) + var(--pd) * 2);
	position: relative;
	border: var(--todo-card-border);

	&:has(> .todo-card__status-checkbox:checked) {
		filter: brightness(0.8);
	}
}

.todo-card:has(> .todo-card__status-checkbox:checked) > .todo-card__title {
	text-decoration: line-through;
}

.todo-controls {
	display: flex;
}

.todo-card__status-checkbox {
	width: var(--control-width);
	position: absolute;
	left: var(--pd);
	top: calc(var(--pd) * 1.5);
}

.todo-card__title {
	font-size: 1.2rem;
}

.todo-card__menu-checkbox {
	display: none;
}

.todo-card__menu-label {
	margin-left: auto;
	position: relative;
	left: calc(var(--control-width) * 1.5);
}

.todo-card__menu-dropdown {
	top: calc(var(--control-width) + 0.5rem);
	right: 0;
	position: absolute;
	display: none;
	z-index: 1;
}

.todo-card__menu-item {
	text-wrap: nowrap;
	width: 100%;
	text-align: left;
	border-radius: 0;
	border: 1px solid var(--c4);

	&:first-of-type {
		border-radius: var(--btn-radius) var(--btn-radius) 0 0;
	}
	&:last-of-type {
		border-radius: 0 0 var(--btn-radius) var(--btn-radius);
	}
}

.todo-card__menu-label:hover .todo-card__menu-dropdown,
.todo-card__menu-label:focus-within .todo-card__menu-dropdown {
	display: block;
}

/* UTILS */
.hidden {
	display: none;
}
