/* #region || CSS RESET */
*,
*::before,
*::after {
	box-sizing: inherit;
	line-height: calc(1em + 0.5rem);
	padding: 0;
	margin: 0;
}

html {
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji';
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	tab-size: 4;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
	font: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	letter-spacing: inherit;
	color: inherit;
	border-radius: 0;
	background-color: transparent;
	opacity: 1;
}

button {
	cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-inline-size: 100%;
	max-block-size: 100%;
}

ol,
ul,
menu {
	list-style: none;
	padding-inline: 0;
}

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
		monospace;
	font-size: 1em;
}

b,
strong {
	font-weight: bolder;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}

table {
	border-color: currentcolor;
	border-collapse: collapse;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}
/* #endregion */

/* #region || VARIABLES */
:root {
	--c1: #1a202c;
	--c2: #252e3d;
	--c3: #2d3748;
	--c4: #4a5568;
	--c5: #cbd5e0;
}

/* #endregion */

.body {
	color: var(--c5);
	display: grid;
	grid-template-areas:
		'aside header'
		'aside main';

	grid-template-columns: clamp(16rem, 20%, 22rem) 1fr;
	grid-template-rows: 5rem 1fr;

	height: 100vh;
}
.header {
	grid-area: header;
}
.main {
	grid-area: main;
}
.projects {
	grid-area: aside;
}

.header,
.projects {
	background-color: var(--c3);
	border: 1px solid var(--c4);
}

.projects__header-block {
	border-bottom: 1px solid var(--c4);
	padding: 1rem;
}

.projects__title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.projects__list {
	padding: 1rem;
}

.projects__li {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;

	:hover {
		background-color: var(--c4);
	}
}

.projects__btn {
	width: 100%;
	display: flex;
	align-items: flex-end;
	gap: 0.5rem;
	padding: 0.3rem 0.5rem;
	border: none;
}

.projects__todo-count {
	margin-left: auto;
}

.main {
	background-color: var(--c1);
}

img {
	width: 2rem;
}
